<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_score.player %>
</p>

<p>
  <strong>Starting 11:</strong>
  <%= @player_score.starting_11 %>
</p>

<p>
  <strong>Runs:</strong>
  <%= @player_score.runs %>
</p>

<p>
  <strong>Fours:</strong>
  <%= @player_score.fours %>
</p>

<p>
  <strong>Sixes:</strong>
  <%= @player_score.sixes %>
</p>

<p>
  <strong>Str:</strong>
  <%= @player_score.str %>
</p>

<p>
  <strong>Centuries:</strong>
  <%= @player_score.centuries %>
</p>

<p>
  <strong>Duck:</strong>
  <%= @player_score.duck %>
</p>

<p>
  <strong>Wkts:</strong>
  <%= @player_score.wkts %>
</p>

<p>
  <strong>Maiden:</strong>
  <%= @player_score.maiden %>
</p>

<p>
  <strong>Er:</strong>
  <%= @player_score.er %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @player_score.bonus %>
</p>

<p>
  <strong>Catches:</strong>
  <%= @player_score.catches %>
</p>

<p>
  <strong>Runout:</strong>
  <%= @player_score.runout %>
</p>

<p>
  <strong>Total:</strong>
  <%= @player_score.total %>
</p>

<p>
  <strong>Match:</strong>
  <%= @player_score.match_id %>
</p>

<p>
  <strong>Match:</strong>
  <%= @player_score.match %>
</p>

<%= link_to 'Edit', edit_player_score_path(@player_score) %> |
<%= link_to 'Back', player_scores_path %>
