<p id="notice"><%= notice %></p>

<h1>Players of <%=@user.name%></h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Team</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>

        <td><%= link_to player.id , "/player_scores/" + player.player.id.to_s %></td>
        <td><%= player.player.name + " " %><% if(player.is_captain) %>(C)<%end%> <% if(player.is_vice_captain) %>(VC)<%end%></td>
        <td><%= player.player.team.name %></td>
        <% if(player.is_captain) %>
        <td><%= player.player.player_scores.sum(:total) * 2 %></td>
        <% elsif(player.is_vice_captain) %>
        <% if((@user.id == 39) && (player.player.id == 863)) %>
          <td><%= (player.player.player_scores.sum(:total) * 1.5) - (player.player.player_scores.where("match_id <= ?", 14747).sum(:total) * 1.5) %></td>
        <% elsif(@user.id == 50) && (player.player.id == 119) %>
          <td><%= (player.player.player_scores.sum(:total) * 1.5) - (player.player.player_scores.where("match_id <= ?", 14747).sum(:total) * 1.5) %></td>
        <% else %>
          <td><%= player.player.player_scores.sum(:total) * 1.5 %></td>
        <% end %>
        <%else%>
        <td><%= player.player.player_scores.sum(:total) %></td>
        <%end%>
        <!-- <td><%= link_to 'Edit', edit_player_path(player) %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
