<p id="notice"><%= notice %></p>

<h1>Players of <%=@user.name%></h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Team</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.name %><% if(player.is_captain) %>C<%end%> <% if(player.is_captain) %>VC<%end%></td>
        <td><%= player.team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
